@import url(../video/__iframe/video__iframe.css);
@import url(../video/__iframes/video__iframes.css);

.video {
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}