
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 600px;
  max-height: 756px;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__title {
  max-width: 730px;
  display: flex;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 50;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  z-index: 101;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.content {
  margin: 0;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph {
  justify-content: center;
  margin: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.digits {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.section-subtitle {
  margin: 20px 0 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  padding: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto 0;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
}

.table__heading { 
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__text:nth-of-type(2) {
  margin: 0;
}

.feynman {
  margin: 0;
  min-height: 790px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  max-width: 775px;
  text-align: center;
  margin: 100px auto 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000000
}

.feynman__picture {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
}

.kaufman__triangle {
  overflow: hidden;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 0;
  content: url(../images/kaufman-triangle.svg);
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
}

.table__heading_theme_dark {
  margin: 0 auto 20px;
  color: white;
}

.table__text_theme_dark {
  margin: 20px 0 0;
  color: white;
}

.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px;
}

.footer__columns {
  min-height: 350px;
  display: flex;
  width: 90%;
  color: white;
  flex-basis: 711px;
}

.footer__column_content_info {
  flex-direction: column;
}

.footer__column_content_social {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  flex-direction: column;
  align-items: flex-end;
}

.footer__column_content_copyright {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0 0 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0 0 16px;
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  color: white;
  margin: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0 0 18px;
}
